/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* width: 1440px; */
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
:root {
    --btn-text-color: #fff;
    --btn-bg-hover: #2e80ce;
    --header-color: #10375c;
    --text-color: #575f66;
}
/* Custom Scrollbars  */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    border-radius: 100px;
}
/* Common */
a {
    text-decoration: none;
    color: #fff;
}

.break-all {
    word-break: break-all;
}
.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 135px);
}
body {
    width: 100%;
}
.btn {
    --height-btn: 56px;
    display: inline-block;
    border-radius: 999px;
    color: #fff;
    background: var(--btn-bg-hover);
    border: 2px solid var(--btn-bg-hover);
    padding: 0 20px;
    min-width: 205px;
    height: var(--height-btn);
    line-height: var(--height-btn);
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.5s, -webkit-mask-size 0.5s 0.5s;
}
.btn:hover {
    background: transparent;
    border: 1px solid var(--btn-bg-hover);
}
.mtop {
    margin-top: 170px;
}
.section-heading {
    color: var(--header-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
.section-desc {
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 30px; /* 166.667% */
}
.text-center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
/* header */
.header {
    width: 100%;
    /* min-height: 100vh; */
    padding: 20px 0;
    background: var(--header-color);
}
.header.fixed {
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.head-nav .logo {
    display: flex;
    align-content: center;
    font-size: 1rem;
}
.logo-icon::before,
.logo-icon::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo-icon::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo-icon::after {
    position: absolute;
    top: 1.5em;
    left: 1.2em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}
.logo .logo-text span {
    display: block;
    color: #fff;
    margin-left: 0.6em;
    text-align: right;
    line-height: 1em; /* 77.778% */
}
.logo .shine-logo {
    font-size: 1.8em;
    font-weight: 400;
}
.logo .smile-logo {
    font-size: 1.2em;
}

.navbar .navbar__list {
    display: flex;
}
.log-in,
.navbar .navbar__link {
    padding: 4px 22px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 28px; /* 175% */
}
a:hover,
.navbar__link:hover,
.navbar__link-active {
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link-active::before {
    position: relative;
    top: -2px;
    left: -4px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.head-nav .header-action {
    display: flex;
    align-items: center;
}

.header-action .sign-up {
    --height-btn: 44px;
    min-width: 104px;
}

/* Heron */
.homepage {
    background: var(--header-color);
}
.hero {
    padding: 76px 0 110px;
    display: flex;
    align-items: center;
}
.hero .hero__info {
    width: 45%;
}
.hero__info-text .hero__info-title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 80px; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__info-desc {
    margin-top: 22px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}
.hero__info-contact {
    display: flex;
    justify-items: center;
    margin-top: 38px;
}
.hero__info-call {
    margin-left: 38px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px; /* 166.667% */
}
.hero-imgs {
    flex-grow: 1;
}
.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero-imgs img {
    border-radius: 6px;
    object-fit: cover;
}

.hero-img {
    width: 330px;
    height: 540px;
}
.hero-img:first-child {
    position: relative;
    margin-right: -6px;
}
.hero-img:last-child {
    width: 210px;
    height: 410px;
}

/* Services */
.section-desc {
    width: 468px;
}

.services__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.service__right {
    margin: 36px 0;
}
/* service-item */
.service-item {
    width: 470px;
    padding: 22px;
    display: flex;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s;
}
.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    color: var(--header-color);
    background: #eff6fd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
.service-item__body {
    margin-left: 20px;
}
.service-item__heading {
    color: var(--header-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}
.service-item__desc {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 28px; /* 175% */
}

.service-btn {
    margin-top: 55px;
}
.service-btn:hover {
    color: var(--header-color);
}
